<h2>Novo video</h2>

<%= render "form.html", changeset: @changeset,
						categories: @categories,
                        action: video_path(@conn, :create) %>

<%= link "Voltar", to: video_path(@conn, :index) %>
